<div>
  <h2 id="page-heading" data-cy="GerenteHeading">
    <span jhiTranslate="stockXpertApp.gerente.home.title">Gerentes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="stockXpertApp.gerente.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gerente"
        [routerLink]="['/gerente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="stockXpertApp.gerente.home.createLabel">Criar novo Gerente</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gerentes?.length === 0">
    <span jhiTranslate="stockXpertApp.gerente.home.notFound">Nenhum Gerente encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gerentes && gerentes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nome">
            <div class="d-flex">
              <span jhiTranslate="stockXpertApp.gerente.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <div class="d-flex">
              <span jhiTranslate="stockXpertApp.gerente.cpf">Cpf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salario">
            <div class="d-flex">
              <span jhiTranslate="stockXpertApp.gerente.salario">Salario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataNasc">
            <div class="d-flex">
              <span jhiTranslate="stockXpertApp.gerente.dataNasc">Data Nasc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gerente of gerentes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gerente', gerente.id, 'view']">{{ gerente.id }}</a>
          </td>
          <td>{{ gerente.nome }}</td>
          <td>{{ gerente.cpf }}</td>
          <td>{{ gerente.salario }}</td>
          <td>{{ gerente.dataNasc | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gerente', gerente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gerente', gerente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(gerente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
