<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="estoque">
      <h2 data-cy="estoqueDetailsHeading"><span jhiTranslate="stockXpertApp.estoque.detail.title">Estoque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ estoque.id }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.estoque.qtde">Qtde</span></dt>
        <dd>
          <span>{{ estoque.qtde }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.estoque.gerente">Gerente</span></dt>
        <dd>
          <div *ngIf="estoque.gerente">
            <a [routerLink]="['/gerente', estoque.gerente.id, 'view']">{{ estoque.gerente.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/estoque', estoque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
