<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-estoque-heading" data-cy="EstoqueCreateUpdateHeading" jhiTranslate="stockXpertApp.estoque.home.createOrEditLabel">
        Criar ou editar Estoque
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockXpertApp.estoque.qtde" for="field_qtde">Qtde</label>
          <input type="number" class="form-control" name="qtde" id="field_qtde" data-cy="qtde" formControlName="qtde" />
          <div *ngIf="editForm.get('qtde')!.invalid && (editForm.get('qtde')!.dirty || editForm.get('qtde')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('qtde')?.errors?.required" jhiTranslate="entity.validation.required"
              >O campo é obrigatório.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('qtde')?.errors?.number" jhiTranslate="entity.validation.number"
              >Este campo é do tipo numérico.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockXpertApp.estoque.gerente" for="field_gerente">Gerente</label>
          <select
            class="form-control"
            id="field_gerente"
            data-cy="gerente"
            name="gerente"
            formControlName="gerente"
            [compareWith]="compareGerente"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="gerenteOption" *ngFor="let gerenteOption of gerentesSharedCollection">{{ gerenteOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
