<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="funcionario">
      <h2 data-cy="funcionarioDetailsHeading"><span jhiTranslate="stockXpertApp.funcionario.detail.title">Funcionario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ funcionario.id }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.funcionario.nome">Nome</span></dt>
        <dd>
          <span>{{ funcionario.nome }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.funcionario.cpf">Cpf</span></dt>
        <dd>
          <span>{{ funcionario.cpf }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.funcionario.salario">Salario</span></dt>
        <dd>
          <span>{{ funcionario.salario }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.funcionario.dataNasc">Data Nasc</span></dt>
        <dd>
          <span>{{ funcionario.dataNasc | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="stockXpertApp.funcionario.gerente">Gerente</span></dt>
        <dd>
          <div *ngIf="funcionario.gerente">
            <a [routerLink]="['/gerente', funcionario.gerente.id, 'view']">{{ funcionario.gerente.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/funcionario', funcionario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
